<!-- public live2d -->
<div id="landlord">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="280" height="550" class="live2d"></canvas>
    <div class="hide-button">隐藏</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script type="text/javascript">
    var message_Path = 'https://cdn.jsdelivr.net/gh/No5972/Live2D@14/live2d/'
    var home_Path = 'https://no5972.github.io/cms/'  //此处修改为你的域名，必须带斜杠
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/No5972/Live2D@11/live2d/js/live2d.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/No5972/Live2D@11/live2d/js/message.js"></script>
<script type="text/javascript">
    loadlive2d("live2d", "https://cdn.jsdelivr.net/gh/QiShaoXuan/live2DModel@1.0.0/live2d-widget-model-miku/assets/miku.model.json");
</script>
<!-- public live2d -->