<!-- public live2d -->
<div id="landlord">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="280" height="550" class="live2d"></canvas>
    <div class="hide-button">隐藏</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery.marquee@1.5.0/jquery.marquee.min.js" type="text/javascript"></script>
<div class="marquee-container" style="position: fixed; width: 100%; height: 30px; color: black; background-color: white; left: 0; bottom: 0;">
<div class="marquee">推进创文常态化 共建文明襄阳城　·　🄽🄾5️⃣9️⃣7️⃣2️⃣　·　做文明襄阳人 建文明襄阳城 凝聚文明正能量 筑梦千年古襄阳　·　🄽🄾5️⃣9️⃣7️⃣2️⃣　·　创建全国文明城市 加快建设汉江流域中心城市　·　🄽🄾5️⃣9️⃣7️⃣2️⃣　·　讲文明 树新风　·　🄽🄾5️⃣9️⃣7️⃣2️⃣　·　用微笑融化陌生 用文明美化襄阳　·　🄽🄾5️⃣9️⃣7️⃣2️⃣　·　争当文明使者 播撒文明新风</div>
</div>
<script>$('.marquee').marquee({duration: 25000});</script>

<script type="text/javascript">
    var message_Path = 'https://cdn.jsdelivr.net/gh/No5972/Live2D@24/live2d/'
    var home_Path = 'https://no5972.github.io/cms/'  //此处修改为你的域名，必须带斜杠
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/No5972/Live2D@11/live2d/js/live2d.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/No5972/Live2D@11/live2d/js/message.js"></script>
<script type="text/javascript" src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript">
    loadlive2d("live2d", "https://raw.githubusercontents.com/No5972/live2DModel/master/live2d-widget-model-miku/assets/miku.model.json");
    $("#landlord").draggable();
</script>
<!-- public live2d -->



<script>
    $(document).on('mouseenter', 'button:contains(Donate)', function(){
        $("#post-reward").show();
    }).on('mouseleave', 'button:contains(Donate)', function(){
        $("#post-reward").hide();
    });
</script>
