<!DOCTYPE html>
<html lang="{{ config.language }}">
<head>
  {{ partial('_partials/head/head.njk', {}, {cache: theme.cache.enable}) }}
  {% include '_partials/head/head-unique.njk' %}
  {{- next_inject('head') }}
  <title>{% block title %}{% endblock %}</title>
  <script>
      if (!!window.ActiveXObject || "ActiveXObject" in window) {
        document.write('Please note that this site no longer supports Internet Explorer. Please use <a href=\"https://www.microsoft.com/edge\">Microsoft Edge</a> or other browsers to browse this site.');
        window.onload = function () {
          $("style,link").remove();
        }
        console.log("IE Found!");
        
      }

  </script>
  <style>
#switchBackgroundBtn {
 right: 30px;
}

@media (max-width: 991px) {
 #switchBackgroundBtn {
  right: 20px;
 } 
}
  </style>
  {{ partial('_third-party/analytics/index.njk', {}, {cache: theme.cache.enable}) }}
  {{ partial('_scripts/noscript.njk', {}, {cache: theme.cache.enable}) }}
</head>

<body itemscope itemtype="http://schema.org/WebPage">
  <div class="container{%- if theme.motion.enable %} use-motion{%- endif %}">
    <div class="headband"></div>
    <!-- <div style="position:fixed;width: 100%;height: 100%;background: url(https://cdndata.fairyabc.com/attachment/album/201809/06/161517g07y9z06yfunuuub.jpg);opacity: 0.25; background-size:cover ; background-attachment:fixed; pointer-events: none;" id="customBackground"></div> -->
    <div style="position:fixed;width: 100%;height: 100%;background: url(http://www.dmoe.cc/random.php);opacity: 0.25; background-size:cover ; background-attachment:fixed; pointer-events: none; display: none; filter: blur(3px)" id="randomBackground"></div>
    <div style="position:fixed;width: 100%;height: 100%;background: url(https://cdn.jsdelivr.net/gh/No5972/Live2D@13/161517g07y9z06yfunuuub.jpg);opacity: 0.25; background-size:cover ; background-attachment:fixed; pointer-events: none; display: block;" id="customBackground"></div>
    <div class="back-to-top1" id="switchBackgroundBtn" onclick="toggleRandomBackground()" style="bottom: 60px; box-sizing: border-box; color: #fff; padding: 0 6px; transition: bottom 0.2s ease-in-out; background: #007ff3; cursor: pointer; opacity: 0.6; position: fixed; z-index: 1300; width: 24px; font-size: 12px;"><i class="fa fa-paint-brush"></i></div>
    <div id="cookie-alert" style="position: absolute; width: 100%; height: fit-content; background: white; left: 0; top: 0; display: none; z-index: 1000;">We use cookies to improve your experience on our website. By browsing this website, you agree to our use of cookies. <a href="#" onclick="agreeCookies()">OK</a>&nbsp;|&nbsp;<a href="/cms/cookie-notice">Learn More &gt;</a></div>
    <script>
      

      if(!localStorage.getItem('mask')){
       document.getElementById("cookie-alert").style.display = "block";
      }

      function refreshRandomBackgroundStatus() {
       document.getElementById('randomBackground').style.display = "block";
       if (localStorage.getItem('randomBackground') == 'true') {
        document.getElementById('randomBackground').style.display = "block";
        document.getElementById('customBackground').style.display = "none";
       } else {
        document.getElementById('randomBackground').style.display = "none";
        document.getElementById('customBackground').style.display = "block";
       }
      }

      function toggleRandomBackground() {
       if (localStorage.getItem('randomBackground') == null || localStorage.getItem('randomBackground') == 'false') {
        localStorage.setItem('randomBackground', 'true');
       } else {
        localStorage.setItem('randomBackground', 'false');
       }
       refreshRandomBackgroundStatus();
      }

      refreshRandomBackgroundStatus();
      
      function agreeCookies() {
        document.getElementById("cookie-alert").style.display = "none";
        localStorage.setItem('mask','true');
      }

      window.onload = function () {
        // IE Alert
        if (!!window.ActiveXObject || "ActiveXObject" in window) {
         var p = document.createElement("div");
         p.style.color="#000";
         p.style.position="absolute";
         p.style.width="100%";
         p.style.height="fit-content";
         p.style.background="white";
         p.style.left=0;
         if(!localStorage.getItem('mask')){
           p.style.top="32px";
         } else {
           p.style.top=0;
         }
         p.style.zIndex=1000;
         p.innerHTML = 'Please note that this site no longer supports Internet Explorer. Please use <a href="https://www.microsoft.com/edge">Microsoft Edge</a> or other browsers to browse this site.'
         document.body.insertBefore(p, document.getElementsByClassName("cookie-alert")[0]);
        }

        const selects = document.querySelectorAll('.lang-select');
        selects.forEach(sel => {
          sel.addEventListener('change', () => {
            const target = sel.options[sel.selectedIndex];
            sessionStorage.setItem("lang", target.label);
          });
        });

      }

      if (sessionStorage.getItem("lang") == "简体中文" && location.href.lastIndexOf("zh-CN") == -1) { 
        location.href = location.href.replace("/cms/", "/cms/zh-CN/");
      }

/*
window.onload = function () {
	if (navigator.userAgent.lastIndexOf("Macintosh") != -1 || navigator.userAgent.lastIndexOf("Windows NT") != -1) {
	if (navigator.platform.lastIndexOf("Linux arm") == -1) { // 手机浏览器不支持视频透明
		var v = document.createElement("video");
		v.src = "https://cdn.jsdelivr.net/gh/No5972/Live2D@master-1/2ce423abb276a932119.mp4";	
		v.loop = true;
		v.autoplay = true;
		v.currentTime = 40;
		$(v).css("height" ,"100%");
		$(v).css("width" ,"100%");
		$(v).css("object-fit" ,"fill");


		$("#customBackground").html("");
		$("#customBackground").append(v);
		$("#customBackground").find("video")[0].play();
	}
	}
}
*/

    </script>
    <!-- <script>
      (function(d) {
        var config = {
          kitId: 'cwe3tnz',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script> -->

    <main class="main">

      <header class="header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="header-inner">{% include '_partials/header/index.njk' %}</div>
        {%- if theme.sidebar.display !== 'remove' %}
          {% block sidebar %}{% endblock %}
        {%- endif %}
      </header>

      {{ partial('_partials/widgets.njk', {}, {cache: theme.cache.enable}) }}

      <div class="main-inner">
        {% include '_partials/header/sub-menu.njk' %}
        <div class="content {% block class %}{% endblock %}">
          {% block content %}{% endblock %}
        </div>
        {% include '_partials/comments.njk' %}
      </div>
    </main>

    <footer class="footer">
      <div class="footer-inner">
        {% include '_partials/languages.njk' %}
        {{ partial('_partials/footer.njk', {}, {cache: theme.cache.enable}) }}
        {{ partial('_third-party/statistics/index.njk', {}, {cache: theme.cache.enable}) }}
      </div>
    </footer>
  </div>

  {{ partial('_scripts/index.njk', {}, {cache: theme.cache.enable}) }}
  {{ partial('_third-party/index.njk', {}, {cache: theme.cache.enable}) }}

  {%- if theme.pjax %}
    <div class="pjax">
  {%- endif %}
  {% include '_third-party/math/index.njk' %}
  {% include '_third-party/quicklink.njk' %}

  {{- next_inject('bodyEnd') }}
  {%- if theme.pjax %}
    </div>
  {%- endif %}
</body>
</html>
