.site-state .category-list-item
	font-size 12px
	text-align left

.site-state .category-list-count
	float right

.site-state .category-list
	list-style none
	padding 0
	margin 0
	overflow hidden

.sidebar-inner 
	opacity 0.7

.post-title
	text-align left !important
	font-family 'DIN-Bold', 'DFKai-SB', 'Kaiti', '楷体_GB2312', 'CCKT'

.post-meta
	text-align left !important

figure 
	display block

.site-nav li.post-list-item
	font-size 14px
	text-align left
	list-style none
	white-space nowrap
	padding-left 0

.site-nav ul.post-list
	padding-left 0

.marquee-container,#cookie-alert,.post-footer,.comments
	@media (max-width: 767px)
		display none

.mathdefault
	font-style italic

.links-of-author-item a
	padding 0 2px